<ion-view view-title="Edit Profile">
  <ion-content class="padding">
    <form name="loginform" novalidate ng-submit="loginform.$valid && doSubmit()">
      <div class="list card">
        <div class="list">
          <div class="item row">
            <div style="height: 90px; width: 100px; font-size: 3em; margin: 0 auto; text-align: center;">
              <div style="width: 52px; height: 52px; border-radius: 48px; border: 1px solid #c5c5c5; margin: 0 auto;" ng-click="takePicture()">
                <i class="icon ion-ios-camera-outline placeholder-icon"></i>              
              </div>
              
              <div style="line-height: 1px">
                <label>Photo</label>
              </div>
            </div>
          </div>
  
          <div class="item row">
            <div class="col">
              <label class="item-input validated">
                <i class="icon ion-person placeholder-icon"></i>
                <input id="name" type="text" placeholder="User Name" ng-model="user.name" required >
                <i class="icon ion-alert-circled error"></i>
              </label>
            </div>
          </div>
          
          <div class="item row">
            <div class="col">
              <label class="item-input validated">
                <i class="icon ion-calendar placeholder-icon"></i>
                <input id="dob" type="date" data-date-format="mm/dd/yyyy" ng-model="user.dob" required >
                <i class="icon ion-alert-circled error"></i>
              </label>
            </div>
          </div>
          
          <div class="item row">
            <div class="col">
              <label class="item-input validated">
                <i class="icon ion-email placeholder-icon"></i>
                <input id="email" type="email" placeholder="Email" ng-model="user.email" required>
                <i class="icon ion-alert-circled error"></i>
              </label>
            </div>
          </div>
          
          <div class="item row">
            <div class="col">
              <label class="item-input validated">
                <i class="icon ion-locked placeholder-icon"></i>
                <input id="password" type="password" placeholder="Password" ng-model="user.password" required>
                <i class="icon ion-alert-circled error"></i>
              </label>
            </div>
          </div>
          
          <div class="item row">
            <div class="col">
              <label class="item-input validated">
                <i class="icon ion-locked placeholder-icon"></i>
                <input id="repassword" type="password" placeholder="Retype password" ng-model="user.repassword" required>
                <i class="icon ion-alert-circled error"></i>
              </label>
            </div>
          </div>
        </div>
      </div>
      
      <button class="button button button-positive" ng-click="update()">Save</button>
      <button class="button button button-assertive" ng-click="delete()">Delete</button>
    </form>
  </ion-content>
</ion-view>
